<!DOCTYPE html>
<html>
  <head>
    <title>小白~小白~</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    
  </head>
  <body style="background-color:slategray">
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">小白~</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                功能说明
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" id="iact">互动</a>
                <a class="dropdown-item" href="#" id="setu">色图</a>
                <a class="dropdown-item" href="#" id="repeat">复读</a>
                <a class="dropdown-item" href="#" id="antirecall">防撤回</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="group">加群</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="improve">改善建议</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/admin" id="login">管理员登录</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/chenxuxin188/xiaobai-bot">Github</a>
            </li>
          </ul>

          <div class="my-2 my-lg-0">
            <input class="form-control" type="number" placeholder="输入要查询的群号" id="search">
          </div>
        </div>
      </nav>
      <div style="padding-top: 65px;"><div class="p-4 mb-2 bg-dark text-left text-white"><span id='freq' class="text-white"></span></div></div>

      <div class="p-4 mb-2 bg-dark text-left text-white" id="description">
        <p>出错啦！</p>
      </div>

      <div class="p-4 mb-2 bg-dark text-left text-white" id="result">
        
      </div>
    </div>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="http://nyanyadance.com/js/bootstrap.js"></script>
    <script src="/js/js.js"></script>

  </body">
</html>
