<!DOCTYPE html>
<html>
  <head>
    <title>小白~小白~</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    
  </head>
  <body style="background-color:slategray">
    <div class="container-fluid" style="min-width: 720px;">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">小白~</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                功能说明
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" id="iact">互动</a>
                <a class="dropdown-item" href="#" id="setu">色图</a>
                <a class="dropdown-item" href="#" id="repeat">复读</a>
                <a class="dropdown-item" href="#" id="antirecall">防撤回</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="group">加群</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="improve">改善建议</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/admin" id="login">管理员登录</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/chenxuxin188/xiaobai-bot">Github</a>
            </li>
          </ul>

          <div class="my-2 my-lg-0">
            <input class="form-control" type="number" placeholder="输入要查询的群号" id="search">
          </div>
        </div>
      </nav>
      <div style="padding-top: 65px;"><div class="p-4 mb-2 bg-dark text-left text-white"><span id='freq' class="text-white"></span></div></div>

      <div class="p-4 mb-2 bg-dark text-left text-white" id="description">
        <p>每天必须签到之后才能开始互动。</p>
        <p>签到有两种方式： <strong>@小白 摸摸</strong>或者<strong>摸摸小白</strong>（当然这个用艾特也行）。</p>
        <p><strong style="color: red;">建议直接喊小白而不是艾特。有时候会因为一些未知的BUG无法通过艾特互动。</strong></p>
        <p>小白的互动是有CD的，不同的群组会有不同的设置，在10秒至2分钟之间。</p>
        <p>然后，是关于小白的互动方式。</p>
        <p>目前有三种互动方式：</p>
        <p>第一种，是直接艾特（@）</p>
        <p>艾特小白，然后跟着以下列表的互动。</p>
        <p>比如：<strong>@小白 摸摸头</strong></p>
        <p>第二种，是在句子中含有小白。</p>
        <p>比如：小白摸摸头，会触发摸头的互动。</p>
        <p>第三种：先叫一下小白，然后再发送互动的关键词。</p>
        <p>比如：小白   接着，小白会问你叫她有什么事，接着在10秒之内摸摸头，就能触发互动</p>
        <p>现有好感系统和心情系统。所有的互动当中，摸头和抱这两个互动是必定不会降低好感和心情的。</p>
        <p>其他的互动，会根据心情和好感度的不同，对应地增加或者减少心情或者好感，或者保持不变。</p>
        <p>现在已经应用的互动：抱抱、戳戳、揉耳朵、摸头、揉肚子、举高高、壁咚、摸胸、脱胖次、膝枕、挠下巴、挠痒痒、亲亲、摸尾巴。</p>
        <p>还有其他一部分不影响心情和好感的互动，比如：早上好、晚安</p>
        <p>新增请求禁言功能。</p>
        <p>在小白是群管理的情况下，群员发送：小白给我1分钟的禁言套餐，小白会禁言你。其中1可以替换成其他正整数，分钟可以替换成小时，小白可以替换成@小白，或者第三种互动方式。</p>
        <p>当然，如果你比较抖M的话，发送  小白给我戴24小时的口球   也是可以的</p>
      </div>

      <div class="p-4 mb-2 bg-dark text-left text-white" id="result">
        
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="http://nyanyadance.com/js/bootstrap.js"></script>
    <script src="/js/js.js"></script>

  </body">
</html>
